<%- include('./static/header') %>

<section class="login">
  <div class="title">
    <h1>Login Here</h1>
  </div>
  <div class="form-design">
    <form action="/auth/login" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <label for="sign up">New to Amaze Keep? Create an account here!</label>
      <button class="btn btn-warning" id="signup">Sign Up</button>
    </form>
  </div>
</section>
<%- include('./static/footer') %>
<script>
  document.getElementById('signup').addEventListener("click",(e) => {
    e.preventDefault();
    window.location.href = '/register'
  });
</script>
